{% extends 'core/base.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block javascript %}

{% endblock %}

{% block contenido %}

  <!-- productos para compra -->
  <div class="container">

    <div class="card-group col-row">
      <div class="card">
        <img class="card-img-top" src="img/completoitaliano.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Completo italiano</h5>
          <p class="card-text">Un tradicional palta, tomate y mayonesa.</p>
          <a class="btn btn-primary" id="agregarItem">Agregar</a> 
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="file/italiano gigante.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">El gran Italiano</h5>
          <p class="card-text">Un completo Italiano agrandado. Extra grande, extra sabroso.</p>
          <p><a href="carrito.html" class="btn btn-primary">Agregar</a></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="file/completoBrasileño.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Brasileño</h5>
          <p class="card-text">Un completo con queso derretido y palta. Como miel al paladar.</p>
          <a href="carrito.html" class="btn btn-primary">Agregar</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>

    <div class="card-group col-row">
      <div class="card">
        <img class="card-img-top" src="file/completoPobre.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">A lo pobre</h5>
          <p class="card-text">Huevo, cebolla frita y queso derretido. No se puede fallar con un clásico.</p>
          <a href="carrito.html" class="btn btn-primary">Agregar</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="file/italianoconpalta.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Chacarero</h5>
          <p class="card-text">Porotos verdes, ají verde, tomate y mayonesa. Las bombas nucleares se quedan cortas con
            esta nuclear.</p>
          <p><a href="carrito.html" class="btn btn-primary">Agregar</a></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="file/segundoitaliano.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Papapleto</h5>
          <p class="card-text">Completo con preparación tradicional con papas fritas encima.</p>
          <a href="carrito.html" class="btn btn-primary">Agregar</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">prueba carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <div class="container">
          <div class="row">
              <!-- Elementos generados a partir del JSON -->
              <main id="items" class="col-sm-8 row"></main>
              <!-- Carrito -->
              <aside class="col-sm-4">
                  <h2>Carrito</h2>
                  <!-- Elementos del carrito -->
                  <ul id="carrito" class="list-group"></ul>
                  <hr>
                  <!-- Precio total -->
                  <p class="text-right">Total: <span id="total"></span>&euro;</p>
                  <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
              </aside>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
