{% extends 'core/base.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block javascript %}

{% endblock %}

{% block contenido %}


  <div class="container carrusel" style="padding-top: 70px;">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner carrusel">
        <div class="carousel-item active">
          <img src="{% static 'core/'%}img/completoitaliano.jpg" class="w-100 imagenCarrusel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/'%}img/italianoconpalta.jpg" class="w-100 imagenCarrusel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/'%}img/segundoitaliano.jpg" class="w-100 imagenCarrusel" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    
  </div>

  
  {% endblock %}