{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/'%}css/carrito.css">
{% endblock %}

{% block javascript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="{% static 'core/'%}js/carrito.js"></script>
{% endblock %}

{% block contenido %}

    <div class="container formReg">
        <form class="needs-validation" novalidate>
            <div class="row-md-6 mb-3">
                <label for="Correo">Correo electrónico</label>
                <input type="email" class="form-control" id="Correo" placeholder="Ingrese su correo electrónico"
                    required>
                <div class="valid-feedback"> ¡Correcto! </div>
                <div class="invalid-feedback"> El correo no está registrado. </div>
            </div>
            <div class="row-md-3 mb-3">
                <label for="Contra">Contraseña</label>
                <input type="password" class="form-control" id="Contra" placeholder="Ingrese su contraseña"
                    minlength="6" maxlength="16" required>
                <div class="invalid-feedback"> Contraseña inválida. </div>
            </div>
            <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        </form>

</body>

{% endblock %}